.ChatMessageComponent {
  padding: 20px 74px;
  margin: 10px 10px;
  position: relative;
  border-radius: 20px;
  transition: all 400ms;
}

.ChatMessageComponent-client {
  background-color: #2b2f36;
  margin-left: 20%;
}

.ChatMessageComponent-server {
  background-color: #30343b;
  margin-right: 20%;
}

.ChatMessageComponent-name {
  display: inline-block;
  font-size: 13pt;
  color: #9b9ea3
}

.ChatMessageComponent-client .ChatMessageComponent-name {
  float: right;
}

.ChatMessageComponent-server .ChatMessageComponent-name {
  float: left;
}

.ChatMessageComponent-content {
  display: inline-block;
  font-size: 27pt;
  margin: 0 20px;
  color: #dddee0;
}

.ChatMessageComponent-time {
  display: none;
  font-size: 9pt;
  position: absolute;
  right: 40px;
  bottom: 16px;
  color: #7f8081;
}

.ChatMessageComponent:hover .ChatMessageComponent-time {
  display: inline-block;
}
