.ChatMessageForm {
  margin: 40px 0;
  padding: 0;
}

.ChatMessageForm input[type='text'] {
  font-size: 24pt;
  padding: 11px 25px;
  border-radius: 20px 0 0 20px;
  background-color: #dddee0;
  color: #2b2f36;
  border: 1px solid #dddec1;
  position: relative;
  top: 0;
  margin: 0;
}

.ChatMessageForm button {
  font-size: 18pt;
  height: 100%;
  position: relative;
  top: -3px;
  border-radius: 0 20px 20px 0;
  background-color: #30343b;
  color: #dddec1;
  border: 1px solid #dddec1;
  padding: 10px 20px;
  margin: 0;
}
