.OnlineUsersListUserComponent {
  cursor: pointer
}

.OnlineUsersListUserComponent-active {
  font-weight: bold;
}

.OnlineUsersListUserComponent-self {
  cursor: initial;
}

.OnlineUsersListUserComponent-info {
  font-size: 16pt;
  font-style: italic;
  margin-left: 10px;
}
